.container {
  min-height: 75vh;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;

  //   h1 {
  //     color: red;
  //   }

  .cards {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    min-height: 50vh;
  }
}
