.container {
  width: 100vw;
  min-height: 75vh;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  text-align: center;
  margin: 45px 0;

  //   h1 {
  //     color: red;
  //   }

  .cards {
    min-height: 50vh;
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
  }
}

@media screen and (max-width: 445px) {
  .container {
    margin: 20px 0;
  }
}
