.topnav-container {
  @include prevent-tab-highlights;
  background-color: $whiteBackground;
  z-index: 10;
  position: sticky;
  top: 0;
  width: 100%;
  padding-left: 4rem;
  padding-right: 4rem;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: $subtitleFontSize;
  letter-spacing: 0.2rem;
  font-weight: 600;
  text-transform: uppercase;
  box-shadow: 5px 10px 18px rgba(0, 0, 0, 0.143);
}

.topnav-logo {
  flex: 15%;
  text-align: left;
  margin-left: 2.5rem;
  padding: 1rem 0;
  img {
    transition: 0.4s ease-out;
    &:hover {
      opacity: 0.5;
    }
  }
}

.topnav-menu {
  flex: 70%;
  text-align: center;
  a {
    text-decoration: none;
  }
  > * {
    color: $blackFontColor;
    padding: 0 2.5rem 0 2.5rem;
    background: linear-gradient(
      60deg,
      $supplementaryFontColor 50%,
      $whiteBackground 50%
    );
    background-size: 250%;
    background-position: right;
    transition: 0.4s ease-out;
    &:hover {
      background-position: left;
      color: $whiteFontColor;
      text-decoration: none;
    }
  }

  .dropdown {
    cursor: pointer;
    position: relative;
    display: inline-block;
    .active {
      display: flex;
    }
    .not-active {
      display: none;
    }
  }

  .dropdown-menu {
    display: none;
    flex-direction: column;
    position: absolute;
    top: 100%;
    left: 0;
    z-index: 90;
    width: 100%;
    padding-bottom: 1.5rem;
    box-shadow: 5px 10px 18px rgba(0, 0, 0, 0.143);
    background-color: rgba(0, 0, 0, 0.564);
    a {
      color: rgba(255, 255, 255, 0.802);
      padding: 1.2rem;
      font-size: 1.2rem;
      &:hover {
        text-decoration: none;
        color: $supplementaryFontColor;
      }
    }
  }
}

.topnav-socialmedia {
  flex: 15%;
  text-align: right;
  margin-right: 2rem;
  .instagram,
  .facebook {
    margin-left: 2rem;
  }
  img {
    opacity: 0.5;
    transition: 0.4s ease-out;
    &:hover {
      opacity: 1;
    }
  }
}

//nav-icon
.navicon {
  display: none;
  z-index: 95;
  position: absolute;
  right: 5%;
  cursor: pointer;
}

.navicon-btn {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: flex-end;
  background-color: transparent;
  width: 4.5rem;
  cursor: pointer;
}

.navicon-span {
  z-index: 95;
  display: block;
  background: $blackFontColor;
  transition: all 0.3s;
  position: relative;
  margin-top: 8px;
  height: 2px;
  float: right;
}
.navicon-span-first {
  width: 80%;
}

.navicon-span-second {
  width: 60%;
}

.navicon-span-third {
  width: 90%;
}

.active span:nth-child(1) {
  animation: ease 0.7s top forwards;
}

.not-active span:nth-child(1) {
  animation: ease 0.7s top-2 forwards;
}

.active span:nth-child(2) {
  animation: ease 0.7s scaled forwards;
}

.not-active span:nth-child(2) {
  animation: ease 0.7s scaled-2 forwards;
}

.active span:nth-child(3) {
  animation: ease 0.7s bottom forwards;
}

.not-active span:nth-child(3) {
  animation: ease 0.7s bottom-2 forwards;
}

//modal nav

.modalnav {
  z-index: 90;
  transition: all 0.3s linear;
  font-size: $subtitleFontSize;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  animation: nav-animation 0.5s ease-in-out;
  .modal-logo {
    flex: 100%;
    margin: 3rem 0.2rem;
    display: flex;
    align-items: center;
    img {
      margin: 0.5rem;
      width: 14rem;
      height: auto;
      transition: 0.4s ease-out;
      &:hover {
        opacity: 0.5;
      }
    }
  }

  .modal-menu {
    flex: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    padding: 0 24px;
    a {
      text-decoration: none;
    }
    > * {
      color: $blackFontColor;
      padding: 0 4rem 0 4rem;
      margin: 2rem;
      background: linear-gradient(
        60deg,
        $supplementaryFontColor 50%,
        $whiteBackground 50%
      );
      background-size: 250%;
      background-position: right;
      transition: 0.4s ease-out;
      &:hover {
        background-position: left;
        color: $whiteFontColor;
        text-decoration: none;
      }
    }
    .dropdown {
      cursor: pointer;
      position: relative;
      display: inline-block;
      &:hover {
        .dropdown-menu {
          display: flex;
        }
      }
    }

    .dropdown-menu {
      display: none;
      flex-direction: column;
      position: absolute;
      top: 32px;
      left: 0px;
      z-index: 90;
      width: 100%;
      padding-bottom: 4rem;
      box-shadow: 5px 10px 18px rgba(0, 0, 0, 0.466);
      background-color: rgba(0, 0, 0, 0.897);
      a {
        text-align: center;
        color: rgba(255, 255, 255, 0.802);
        padding: 1.2rem;
        font-size: 1.5rem;
        &:hover {
          text-decoration: none;
          color: $supplementaryFontColor;
        }
      }
    }
  }

  .modal-socialmedia {
    flex: 100%;
    margin: 0;
    display: flex;
    align-items: center;
    .instagram,
    .facebook {
      margin: 0.8rem;
    }
    a {
      text-align: center;
      img {
        margin: 3rem 1rem;
        width: 3.5rem;
        height: auto;
        opacity: 0.5;
        transition: 0.4s ease-out;
        &:hover {
          opacity: 1;
        }
      }
    }
  }
}

//nav animation - modal appearance

@keyframes nav-animation {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

@keyframes top {
  0% {
    top: 0;
    transform: rotate(0);
  }
  50% {
    top: 1px;
    transform: rotate(0);
  }
  100% {
    top: 1px;
    transform: rotate(45deg);
  }
}

@keyframes top-2 {
  0% {
    top: 22px;
    transform: rotate(45deg);
  }
  50% {
    top: 22px;
    transform: rotate(0deg);
  }
  100% {
    top: 0;
    transform: rotate(0deg);
  }
}

@keyframes bottom {
  0% {
    width: 90%;
    bottom: 0;
    transform: rotate(0);
  }
  50% {
    bottom: 19px;
    transform: rotate(0);
  }
  100% {
    width: 80%;
    bottom: 19px;
    transform: rotate(135deg);
  }
}

@keyframes bottom-2 {
  0% {
    bottom: 22px;
    transform: rotate(135deg);
  }
  50% {
    bottom: 22px;
    transform: rotate(0);
  }
  100% {
    bottom: 0;
    transform: rotate(0);
  }
}

@keyframes scaled {
  50% {
    transform: scale(0);
  }
  100% {
    transform: scale(0);
  }
}

@keyframes scaled-2 {
  0% {
    transform: scale(0);
  }
  50% {
    transform: scale(0);
  }
  100% {
    transform: scale(1);
  }
}

//media
@media screen and (max-width: 1130px) {
  .topnav-container {
    font-size: calc($subtitleFontSize * 3 / 4);
  }

  .topnav-menu {
    .dropdown-menu {
      padding-bottom: 1rem;
      a {
        color: rgba(255, 255, 255, 0.802);
        padding: 1rem 0.5rem;
        font-size: 1rem;
        &:hover {
          text-decoration: none;
          color: $supplementaryFontColor;
        }
      }
    }
  }
}

@media screen and (max-width: 990px) {
  .topnav-container {
    font-size: calc($subtitleFontSize * 1 / 2);
    padding-left: 1rem;
    padding-right: 1rem;
  }
}

@media screen and (max-width: 825px) {
  .topnav-logo {
    margin-left: 3rem;
  }
  .topnav-menu {
    display: none;
  }
  .topnav-socialmedia {
    display: none;
  }
  //nav-icon
  .navicon {
    display: block;
    top: 0%;
    transform: translateY(90%);
  }
}
