.topjumbotron-container {
  position: relative;
  width: 100vw;
  height: 88vh;
  padding: 0 0rem 5rem 0rem;
  margin: 0 0 0.5rem 0;
  text-transform: uppercase;
  color: $whiteFontColor;
  article {
    font-family: $familyFontsSecondary;
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    top: 40%;
    left: 0;
    right: 0;
    line-height: 6rem;
    text-align: center;
    background-color: transparent;
    padding: 6rem 1rem 9rem 1rem;
    h1 {
      font-weight: 600;
      font-size: 8rem;
      letter-spacing: 0.5rem;
      margin: 2rem 0;
    }
    h5 {
      font-size: 1.55rem;
      line-height: 2.5rem;
      margin-top: 1rem;
    }
  }
}

.topjumbotron-img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  animation: animate 32s ease-in-out infinite;
}

@keyframes animate {
  0%,
  100% {
    background-image: url('/static/assets/rd-gif.gif');
  }
  25% {
    background-image: url('/static/assets/rd-gif.gif');
  }

  20% {
    background-image: url('/static/assets/img8.jpg');
  }

  87% {
    background-image: url('/static/assets/img8.jpg');
  }
}

//anime
.entrance-subtitle {
  text-align: center;
  color: #f5f5f5;
  font-weight: 900;
  font-size: 14px;
  letter-spacing: 1em;
  text-transform: uppercase;
  padding-left: 1rem;
}
.entrance-subtitle .letter {
  display: inline-block;
}

.entrance-title .letter {
  display: inline-block;
}

@media screen and (max-width: 615px) {
  .topjumbotron-container {
    article {
      top: 35%;
      h1 {
        font-size: 4rem;
        padding-right: 2rem;
        padding-left: 2rem;
      }
      h5 {
        font-size: 1rem;
        padding-right: 2rem;
        padding-left: 2.9rem;
      }
    }
  }
}

@media screen and (max-width: 445px) {
  .topjumbotron-container {
    article {
      h1 {
        font-size: 3.5rem;
        padding-right: 0rem;
        padding-left: 0rem;
      }
      h5 {
        font-size: 0.8rem;
        padding-right: 1rem;
        padding-left: 1.45rem;
      }
    }
  }
}

@media screen and (max-width: 365px) {
  .topjumbotron-container {
    article {
      h1 {
        font-size: 3rem;
      }
      h5 {
        font-size: 1.2rem;
      }
    }
  }
}
