@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@300&family=Poppins:wght@200&display=swap');

//FONTS!!!
//familyfonts
$familyFontsPrimary: 'Josefin Sans', sans-serif;
$familyFontsSecondary: 'Poppins', sans-serif;

//fonts color
$blackFontColor: #2b2b2b;
$whiteFontColor: #fff;
$subcontentTitleFontColor: #5d5d5d;
$subcontentFontColor: #919191;
$supplementaryFontColor: #d7bd78;

//fonts size
$titleFontSize: 2.5rem;
$subtitleFontSize: 2.2rem;
$paragraphFontSize: 2rem;

//BACKGROUND!!!
//background color
$whiteBackground: #fff;
$blackBackground: #222326;
$supplementaryBackground: #f7f7f7;
