.contact-contact {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  h1 {
    font-weight: 600;
    text-align: center;
    margin: 0.5rem;
  }

  h1:last-of-type {
    font-weight: 500;
    a {
      color: $supplementaryFontColor;
      text-decoration: none;
    }
    a:last-of-type {
      padding-right: 0.4rem;
    }
  }
}

.contact-address {
  @include prevent-tab-highlights;
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 0.3rem;
  line-height: 5rem;
  a {
    text-decoration: none;
  }
  h1:first-of-type {
    color: $subcontentTitleFontColor;
    font-size: $titleFontSize;
    font-weight: 600;
    &:hover {
      color: $subcontentTitleFontColor;
    }
  }
  h1 {
    font-size: $subtitleFontSize;
    color: $subcontentFontColor;
    margin: 0.5rem;
    &:hover {
      color: $supplementaryFontColor;
    }
  }
}
